/*checking my work*/
body {
    /*background-color: LightGray;*/
    font-family; 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div {
    /*border: 1px solid green;*/
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}

/* Navigation Section */
.topNav {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;

}

.topNav > .content {
	height: 4.375rem;
}

.topNav .logo{
	height: 40px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.topNav .links {
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
}

.topNav .links li{
	display: inline-block;
	margin-left: 25px;
}

.topNav .links .active {
	color: #4c5058;
	font-weight: 500;
}

.topNav .links li:hover{
	cursor: pointer;
	color: #333;
}

/*Introduction Section, below top Nav*/
.intro {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom; 
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #333;
	height: 45.938rem;
	overflow: auto;
}

.intro h1,
.intro h3 {
	color: #fff;
	text-align: center;
	font-weight: 300;
}

.intro h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.intro h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

/*Buttons*/

.intro .big-button ,
button{
	color: #fff;
	text-align: center;
	width: 10rem;
	height: 3rem;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 7px;
	font-size: 1.125rem;
	margin: 0 auto;
	}

button:hover {
    background-color: #d9400e;
    border-color: #d9400e;
    cursor: pointer;
}

/*--Icons with Explanation--*/
.explanation{

}


/*-----------------------links-----------------------*/

/* unvisited link */
body a:link {
  color: #333;
  text-decoration: none;
}

/* visited link */
body a:visited {
    color: #333;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #dcdbeb;
  text-decoration: none;
}

/* selected link */
a:active {
    color: #a6a4cb;
    text-decoration: none;
}
