/*checking my work*/
body {
    background-color: LightGray;
}
div {
    border: 1px solid green;
}


/*Navigation Section */
.topNav {
	background-color: #fff;
 
}

.topNav > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;

}

.logo {
	padding: 0px 15px;
	height: 70px;
	border: 1px solid blue;
}

.links {
	float: right;
	display: inline;
	border: 1px solid red;
	display: inline-block;
	list-style-type: none;
}


